.block {
    border-radius: 7px;
    background-color: white;
    padding: 30px;
    margin: 30px 0;
    box-shadow: var(--shadow);
}

.block > *, .block > [handler] > * {
    width: 100%;
}

.block header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 30px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.block header > h2 + * {
    margin-left: auto;
}

.block header h2 {
    padding-left: 30px;
    /*border-left: 3px solid var(--color__yellow);*/
    margin: 0 0 0 -30px;
}

.block header > h2 + ul.tabs {
    margin: 8px auto 0 30px;
}

.block header > h2 + ul.tabs li {
    height: 27px;
}

.block header span {
    font-size: 14px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
}

.block header sub {
    width: 100%;
}

.block > hr {
    margin-bottom: 20px;
}

.block footer {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 30px;
    gap: 20px;
}

.popup.block .block {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}

.block footer button {
    /*margin-left: auto;*/
}

.block .block {
    /*-webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;*/
}

.block.skeleton {
    background-color: var(--color__border);
    /*background-color: #DDDBDD;*/
    height: 170px;
    position: relative;
    overflow: hidden;
    width: 100%;
}

.block.skeleton::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-100%);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0) 100%);
    animation: shimmer 2s infinite;
    content: '';
}

.block.item .buttons-wrapper {
    margin-left: auto;
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

@media only screen and (max-width: 767px) {
    .block header h2 {
        border: none;
    }

    .block:not(.notify-block, .popup, .conf) {
        margin: 0;
        padding: 20px 0;
        border: none;
        background: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}