.datetimepicker {
    position: relative;
    /*max-width: 320px;*/
}

.datetimepicker-inner {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0 0 30px 0;
    width: 320px !important;
    max-width: 320px !important;
    box-shadow: var(--shadow);
}

.datetimepicker, .datetimepicker input {
    width: 100%;
}

.datetimepicker > label + span > div {
    position: absolute;
    z-index: 2;
}

.datetimepicker-inner label {
    margin-top: 0;
}

.datetimepicker .dateplugin, .datetimepicker .timeplugin {
    display: flex;
    flex-flow: column;
    max-width: 320px;
    min-width: 320px;
    padding: 10px !important;
    overflow: hidden;
    user-select: none;
    margin: 0;
    background: #fff;
}

.datetimepicker .timeplugin div {
    margin: 0 5px;
}

.datetimepicker .timeplugin {
    flex-direction: row;
    justify-content: center;
}

.datetimepicker .datetimepicker-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.datetimepicker .dateplugin ul {
    width: 100%;
    display: flex;
    flex-flow: row;
    list-style: none;
    margin-bottom: 10px;
}

.datetimepicker .dateplugin ul li {
    display: block;
    text-align: center;
}

.datetimepicker .dateplugin .years li,
.datetimepicker .dateplugin .months li {
    position: relative;
    min-width: 90px;
    align-self: center;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    line-height: 24px;
}

.datetimepicker .dateplugin .years li:first-child,
.datetimepicker .dateplugin .months li:first-child {
    background: -moz-linear-gradient(right, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    background: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    background: linear-gradient(to left, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.datetimepicker .dateplugin .years li:last-child,
.datetimepicker .dateplugin .months li:last-child {
    background: -moz-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    background: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.datetimepicker .dateplugin .years li.selected,
.datetimepicker .dateplugin .months li.selected {
    font-size: 24px;
    color: var(--color__yellow);
    cursor: default;
}

.datetimepicker .dateplugin .months li.selected {
    font-size: 18px;
}

.datetimepicker .dateplugin .days {
    flex-flow: row wrap;
}

.datetimepicker .dateplugin .weekdays li,
.datetimepicker .dateplugin .days li {
    width: 40px;
    height: 40px;
    line-height: 14px;
    padding: 13px 0;
    margin-bottom: 0;
    flex-basis: 40px;
    cursor: pointer;
}

.datetimepicker .dateplugin .weekdays li:nth-child(7n),
.datetimepicker .dateplugin .days li:nth-child(7n),
.datetimepicker .dateplugin .weekdays li:nth-child(7n-1),
.datetimepicker .dateplugin .days li:nth-child(7n-1) {
    color: var(--color__light_blue);
}

.datetimepicker .dateplugin .days li.selected {
    color: #fff;
    background: var(--color__yellow);
}

.datetimepicker .dateplugin.selecting .days li.selected {
    opacity: 0.9;
}

.datetimepicker .clear {
    position: absolute;
    top: 0;
    right: 8px;
    display: block;
    cursor: pointer;
    color: var(--color_element_icon);
}

.datetimepicker .controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
    gap: 5px;
}

.datetimepicker .controls span {
    width: auto;
    margin-bottom: 10px;
}

.datetimepicker.no-label-margin label {
    margin: 0;
}

.datetimepicker.flex {
    gap: 10px;
}

.datetimepicker.flex label {
    display: block;
}

.datetimepicker.flex .clear {
    top: 6px;
}

.datetimepicker .mdi-calendar {
    min-width: 320px;
}