@font-face {
    font-family: 'TT';
    src: url("../fonts/TTNorms-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT';
    src: url("../fonts/TTNorms-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT';
    src: url("../fonts/TTNorms-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@-webkit-keyframes bell-animation {
    0%, 50%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    10%, 30% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg)
    }

    20%, 40% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg)
    }
}

@keyframes bell-animation {
    0%, 50%, 100% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    10%, 30% {
        -webkit-transform: rotate(-25deg);
        transform: rotate(-25deg)
    }

    20%, 40% {
        -webkit-transform: rotate(25deg);
        transform: rotate(25deg)
    }
}

@-webkit-keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

@keyframes flash {
    0%, 50%, 100% {
        opacity: 1;
    }
    25%, 75% {
        opacity: 0;
    }
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    outline: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: row;
    margin: 0;
    background: var(--color__bg);
    font-size: 14px;
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.mobile {
    display: none;
}

.hide {
    display: none !important;
}

.invisible {
    opacity: 0;
}

.error, .select.error {
    color: var(--color__red);
    border-color: var(--color__red);
    transition: all 1s ease-in-out;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: scroll;
}

article {
    padding: 30px 50px 30px 30px;
    flex-grow: 1;
    position: relative;
}

main > header > div {
    display: flex;
    align-items: center;
}

main > header > div > * {
    display: inline-block;
    margin: auto 15px;
}

main > header, main > footer {
    font-size: 14px;
    min-height: 50px;
    padding: 0 30px;
    display: flex;
    position: relative;
}

main > header {
    justify-content: space-between;
    border-bottom: 1px solid var(--color_header__border);
    padding: 0;
    margin: 0 50px 0 30px;
}

main > header .balance_sign {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: var(--color__yellow);
}

main > header .balance {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #2B2A28;
}

main .copy {
    max-width: 375px;
    margin: auto 0 20px;
    color: var(--color__light_blue);
}

main > header .mdi-menu {
    display: block;
    color: var(--color__light_blue);
    margin: auto 0;
    cursor: pointer;
    font-size: 16px;
    padding-top: 4px;
}

main > header .notifications {
    color: black;
    display: none;
}

main > header .avatar {
    max-height: 32px;
    max-width: 32px;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

main > header .mdi-bell-outline {
    color: var(--color__yellow);
    font-size: 16px;
    padding-top: 4px;
}

main > header .user-menu {
    opacity: 0;
    position: absolute;
    right: 20px;
    top: 5px;
    transition: all 0.2s ease-in;
    z-index: -1;
}

main > header .user-menu .avatar {
    max-height: 64px;
    max-width: 64px;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 30px;
}

main > header .avatar:hover + .user-menu, main > header .user-menu:hover {
    display: block;
    opacity: 1;
    z-index: 10;
}

main > header .user-menu > .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
    margin: 0 0 20px 0;
}

main > header .user-menu > .user-info .email {
    font-weight: bold;
}

main > header .user-menu > .user-actions a {
    display: block;
    margin-bottom: 10px;
    color: black;
}

main > header .user-menu > .user-actions a:before {
    margin-right: 10px;
    color: var(--color__yellow);
}

main > header .user-menu > .user-actions a:hover {
    color: var(--color__yellow);
}

main > header .user-menu > .user-actions a:hover:before {
    /*color: var(--color__active);*/
}

main > article aside {
    min-width: 380px;
    max-width: 525px;
    /*width: 525px;*/
    /*margin-left: 30px;*/
}

@media screen and (max-width: 1500px) {
    main > article aside{
        /*max-width: 450px;*/
    }
}
