nav {
    background: var(--color__blue_bg);
    width: var(--width__sidebar);
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: var(--width__sidebar);
    padding-bottom: 50px;
    color: white;
    z-index: 2;
    overflow: auto;
}

nav h5 {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #F2C94C;
    text-transform: uppercase;
    margin-left: 48px;
    margin-bottom: 10px;
}

nav .menu_block {
    margin-bottom: 30px;
}

nav.minimized {
    z-index: 100;
    width: var(--width__sidebar_minimized);
    min-width: var(--width__sidebar_minimized);
}

nav.minimized h5 {
    display: none;
}

nav .logo {
    width: 105px;
    height: 43px;
    margin: 30px auto 55px;
    display: block;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

body.nav_minimized nav {
    z-index: 100;
    width: var(--width__sidebar_minimized);
    min-width: var(--width__sidebar_minimized);
}

body.nav_minimized nav .logo {
    width: 48px;
    height: 15px;
    margin: 30px auto 83px;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
}

body.nav_minimized nav ul > li {
    margin: 0 15px;
}

body.nav_minimized nav ul > li a {
    color: rgba(255, 255, 255, 0);
    max-width: 35px;
    border-radius: 5px;
}

body.nav_minimized nav ul > li a span {
    padding: 0 9px;
}

body.nav_minimized nav ul > li a:hover {
    color: rgba(255, 255, 255, 1);
    /* background: rgba(0, 0, 0, .7);
     max-width: -webkit-max-content;
     max-width: -moz-max-content;
     max-width: max-content;*/
}

body.nav_minimized nav h5 {
    display: none;
}

body.nav_minimized nav span.mdi {
    color: white;
}

nav ul > li {
    padding: 5px 0;
    list-style: none;
    margin: 0 32px 0 16px;
}

nav ul > li a {
    color: white;
    font-size: 14px;
    text-decoration: none;
    overflow: hidden;
    white-space: nowrap;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    display: inline-block;
    padding: 5px 10px 5px 0;
}

nav ul > li a span, nav ul > li.sub ul a > span {
    color: var(--color__yellow);
    font-size: 16px;
    margin-right: 10px;
}

nav ul:last-child:before {
    content: '';
    margin-bottom: auto;
    display: block;
}

nav ul:last-child {
    /*margin-top: auto;*/
}

nav ul > li .active span {
    color: var(--color__yellow);
    opacity: 1;
}

nav ul:last-child > li a span {
    color: transparent;
    transition: color 0.3s;
}

nav ul > li a:hover span, nav ul > li .active span {
    color: var(--color__yellow) !important;
}

nav li ul {
    max-height: 0;
    overflow: hidden;
    -webkit-transition: max-height 0.3s ease-in-out;
    -o-transition: max-height 0.3s ease-in-out;
    transition: max-height 0.3s ease-in-out;
    padding-left: 18px;
}

nav li ul.active {
    max-height: none;
}

nav li ul a {
    color: var(--color__light_blue);
}

nav li ul a:hover, nav li ul a.active {
    color: #FFFFFF;
}

nav li ul a:not(:last-child) {
    border-bottom: 1px solid var(--border-color);
}


@media only screen and (min-width: 768px) and (max-width: 1000px) {
    nav {
        /*z-index: 100;*/
        width: var(--width__sidebar_minimized);
        min-width: var(--width__sidebar_minimized);
    }

    nav .logo {
        width: 48px;
        height: 15px;
        margin: 30px auto 83px;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: top;
        object-position: top;
    }

    nav ul > li {
        margin: 0 15px;
    }

    nav ul > li a {
        color: rgba(255, 255, 255, 0);
        max-width: 35px;
    }

    nav ul > li a span {
        padding: 0 9px;
    }

    nav ul > li a:hover {
        color: rgba(255, 255, 255, 1);
        /* background: rgba(0, 0, 0, .4); */
        border-radius: 5px;
        /* max-width: max-content;*/
    }

    nav h5 {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    nav ul:last-child > li a span {
        color: white;
    }
}

@media only screen and (max-width: 767px) {
    nav > ul:not(:last-child) > li:first-child {
        margin-top: 20px;
    }

    body > nav {
        position: absolute;
        left: -100%;
        top: 0;
        bottom: 0;
        width: 100%;
        z-index: 2;
    }

    body > nav .logo {
        display: none;
    }

    body > nav .mdi {
        font-size: 35px;
    }

    body > nav .mobile {
        padding: 15px 15px 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
    }

    body > nav .mobile hr {
        border-color: var(--color__bg);
        opacity: 0.5;
        width: 100%;
    }

    body > nav.opened {
        left: 0;
        overflow: auto;
    }

    nav ul > li a {
        font-size: 24px;
    }

    nav ul > li a span {
        font-size: 28px;
        margin-bottom: 10px;
    }
}