:root {
    --color__blue_bg: #2B2A28;
    --color__light_blue: #A09DC0;
    --color__bg: #F2F3F8;
    --color__bg2: #F3F5FF;
    --color__border: #D8DCF0;
    --color__border_d: #d8dcf0;
    --color__sh: #E2E4F0;
    --color__active: #6c7580;
    --color__table: #FBFBFF;
    --color__table2: #F5F7FF;
    --color__green3: #6FCF97;
    --color__green2: #27AE60;
    --color__yellow: #F2C94C;
    --color__red: #EB5757;
    --color__blue: #26aceb;
    --color_header__border: #D8DCF0;
    --color_element_icon: #A09DC0;
    --color__green: #6FCF97;
    --color__cell1: rgba(232, 235, 250, .4);
    --color__cell2: rgba(232, 235, 250, .2);
    --color__cell_hover: rgba(232, 235, 250, .7);
    --color__select_bg: #D8DCF0;
    --color__blue3: #56CCF2;


    --shadow: 0px 0px 3px var(--color__sh);

    --width__sidebar: 205px;
    --width__sidebar_minimized: 64px;

    --height__header: 42px;
    --height__footer: 42px;

    --border-radius: 7px;

    --filter__icon_hover: brightness(0) saturate(100%) invert(17%) sepia(100%) saturate(7301%) hue-rotate(328deg) brightness(97%) contrast(102%);
    --filter__botto_blue: brightness(0) saturate(100%) invert(63%) sepia(27%) saturate(5696%) hue-rotate(167deg) brightness(99%) contrast(87%);
}
